*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
body{ 
	width: 100%;
	background: gray;
	/* padding: 5px 100px; */
	/* display: flex; */
	/* justify-content: center; */
}
/* .main{
	width: 144px;
} */
.navbar{
	width: 100%;
	display: flex;
	/* border: 2px solid red; */
	justify-content: space-between;
	align-items: center;
	padding: 0 80px;
	position: absolute;
	background: transparent;
	border-bottom: 2px solid white;
	z-index: 1;
}
.info-block{
	display: flex;
	align-items: center;
	gap: 0 80px;
}
.btn-block{
	display: flex;
	align-items: center;
	gap: 20px;
	color: white;
}
.btn-block > button:nth-child(1){
	display: flex;
	align-items: center;
	padding: 5px 13px;
	border: 2px solid white;
	border-radius: 60px;
	gap: 10px;
	background: transparent;
	cursor: pointer;
}
.btn-block > button:nth-child(2){
	background: transparent;
	border: none;
	cursor: pointer;
}
.menu-block{
	display: flex;
	align-items: center;
	gap: 15px;
	color: white;
}
.menu-block > button{
	background: transparent;
	border: none;
	cursor: pointer;
}


/* HOME  */
.home-block{
	width: 100%;
	height: 1000px;
	/* border: 2px solid blue; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
	padding-bottom: 141px;
	position: relative;
	overflow: hidden;
}
.space-image{
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -5;
}
.stone-image{
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: -3;
}
.space-child-image{
	position: absolute;
	right: 0;
	bottom: -120px;
	z-index: 1;
}
.dogs-image{
	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 1;
}
.meteor{
	position: absolute;
	left: 5px;
	bottom: 172px;
	z-index: -4;
}
.shadow{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
	background: rgba(0, 0, 0, 0.2);
}
.center-block{
	display: flex;
	flex-direction: row;
	position: relative;
}
.center-block > button{
	position: absolute;
	bottom: -70px;
	left: 45%;
	width: 50px;
	height: 50px;
	border: 2px solid white;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.258);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}
.center-block > button:hover{
	cursor: pointer;
	scale: 1.1;
}
.text-block{
	height: 539px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px 0;
	background: #333333;
	padding: 30px;
}
.text-block > h3{
	color: #FFF;
	font-family: Poppins;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
}
.text-block > p{
	color: #FFF;
	font-family: Inter;
	font-size: 13.891px;
	font-style: normal;
	font-weight: 400;
}
.text-block > button{
	border-radius: 100px;
	border: none;
	background: linear-gradient(180deg, #E0990F 0%, #BA9206 100%);
	box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.30);
	padding: 20px 100px;
	color: #FFF;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	transition: 0.3s;
}
.text-block > button:hover{
	cursor: pointer;
	background: linear-gradient(180deg, #3c3c3c 0%, #3c3c3c 100%);
	scale: 0.95;
}
.image-block{
	position: relative;
}
.price-block{
	position: absolute;
	top: 25px;
	right: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;	
}
.price-block > p:nth-child(1){
	color: #C7C7C7;
	text-align: center;
	font-family: Poppins;
	font-size: 60px;
	font-style: normal;
	font-weight: 300;
}
.price-block > p:nth-child(2){
	color: #FFF;
	font-family: Poppins;
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
}
.icons-under-main{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 75%;
	padding: 0 10px;
	gap: 0 10px;
}
.icons-under-main > div{
	width: 150px;
	height: 120px;
	display: flex;
	flex-direction: column;
	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	justify-content: center;
	align-items: center;
	position: relative;
}
.icons-under-main > div > img{
	position: absolute;	
}
.icons-under-main > div > p{
	position: absolute;
	bottom: 0;
}

/* SECTION 2 */
.section-2{
	width: 100%;
	height: auto;
	padding: 2% 20%;
	background: rgb(64,64,64);
	background: linear-gradient(90deg, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
	border: 2px solid ;
	border-color: rgb(131,131,131);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0 24px;
}
.section-2 > button:nth-child(1){
	background: transparent;
	border: none;
	transition: 0.3s;
}
.section-2 > button:nth-child(1):hover{
	cursor: pointer;
	scale: 1.05;
}
.section-2 > button:nth-child(2){
	width: 140px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 10px;
	background: transparent;
	border: none;
	transition: 0.3s;
}
.section-2 > button:nth-child(2):hover{
	cursor: pointer;
	scale: 1.05;
}
.section-2 > button:nth-child(2) > p{
	color: #FFF;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
}
.section-2 > button:nth-child(2) > div {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 30px;
}
.section-2 > button:nth-child(2) > div > svg{
	position: absolute;
}
/* FOOTER  */
main{
	width: 100%;
	height: 600px;
	background: rgb(99,99,99);
	background: linear-gradient(90deg, rgba(99,99,99,1) 0%, rgba(0,0,0,1) 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.line-meteor{
	position: absolute;
	bottom: 28px;
	left: 137px;
}
.some-meteor{
	position: absolute;
	bottom: 40px;
	right: 48px;
}
/* section-1 */
section-1{
	display: flex;
	gap: 0 200px;
	align-items: flex-start;
	margin: 80px 50px ;
}
section-1 > div:nth-child(1){
	color: rgba(255, 255, 255, 0.75);
	font-family: Questrial;
	font-size: 30px;
	font-weight: 400;
	line-height: 56px;
}
section-1 > div:nth-child(2){
	display: flex;
	flex-direction: column;
	gap: 140px 0;
}
.link{
	display: flex;
	flex-direction: row;
	gap: 0 60px;
}
.link > a{
color: #FFF;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 25.2px; /* 105% */
letter-spacing: 0.6px;
transition: 0.3s;
}
.link > a:hover{
	color: #BA9206;
}
.social-media-block{
	display: flex;
	flex-direction: column;
	gap: 45px 0;
	color: #FFF;
	font-family: Poppins;
	font-size: 28px;
	font-weight: 500;
}
.social-media-block > div{
	display: flex;
	align-items: flex-end;
	gap: 0 50px;
}
.social-media-block > div > a{
	transition: 0.3s;
}
.social-media-block > div > a:hover{
	scale: 1.1;
}

/* section-2 */
section-2{
	width: 100%;
	height: 130px;
}
.main-sec-2{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	position: relative;
	color: #FFF;
	font-family: Poppins;
	font-size: 24px;
	font-weight: 400;
}
.main-sec-2 > img{
	position: absolute;
	top: 0;
}
